@model BoardGameRegime.Models.Game

@{
    ViewBag.Title = "Game";
}

<h2>Play this!!</h2>


    <h3>@Model.Title</h3>
    <p>Plays up to @Model.MaxPlayer</p>
    <p>@Model.GameLength minutes</p>

<p>@Html.ActionLink("Try Again","Index","Dictator")</p>

