
@{
    ViewBag.Title = "Dictator";
}

<h2>Welcome comrade.</h2>
<p>It's time for your mission...</p>

<p>How much time do you have?</p>
<p>How many people are playing?</p>
<p>How complex a game do you want to play?</p>
<p>What theme do you want to play?</p>
<p><a class="btn btn-default" @Html.ActionLink("Your game is...", "Game", "Dictator")</a></p>



