@{
    ViewBag.Title = "Glorious Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to the regime comrade. If you are tired of having to make all those pesky "choices" on game night then you have come to the right authoritarians.</p>
<p>All you need to do is to take all your games add them into to the Library and then visit Supreme Leader and he will take care of the rest.</p>
<p>--Remember comrade freedom is an illusion and things are better this way.--</p>